*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* HEADER  */

.header{
    width:100%;
    background:transparent;
    height: 65px;
   text-align: left;
   margin: 10px;
  
  
    
}
/* HEADER FONT */

.m365
{
  color:black;  
   margin-left: 50px;
  background: transparent;
  text-decoration: none;

  
}

/*MS LOGO */
.img{
    margin-left: 10px;
    margin-top: 10px;
    
}

/*BANNER-1  */

.in{
    margin-top: 97px;
    position: absolute;
    top: 8px;
    left: 16px;
    padding:200px;
    color: black;
    font-size: large;
    text-align: left;
    background: transparent;
    
    
  }

/* LOGOS  */

.logos{
    
    height: 300px;
    width: 100%;
    position: relative;
    top:90px;
    
    
     
    
}
.lg{
    background-color: transparent;
    width: 767px;
    height: 150px;
    text-align: center;
    text-align-last: left;
    margin: auto;
    
   
}

.logos a{
    text-decoration: none;
    color: #616161;
    text-align: center;
    position: relative;
    top: 50px;
    right: 50px;
}
.logos img{
    position: relative;
    left: 50px;
}


.first-logo{
    background-color: transparent;
    margin:auto;
    padding-bottom: 130px;
    
}

.surf_logo{
    background-color: transparent;
}
.xbox_logo{
background-color: transparent;


}


.get_windows{
background-color: transparent;
}


.pictext{
    text-align: center;
}

 /* CARDS-1*/    
.card-sec{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    grid-gap: 20px; 
     
    margin-bottom: 50px; 
    text-align: center;
    position: relative;
    top:50px;
}

.card-sec img {  
    width: 350px; 
    margin-bottom: 20px; 
    border: 1px solid black; 
   }  
  


.ibox{
    background: red;
    width: 100px;
    height:100px;

}


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }



/* FOOTER LINKS*/  

.links {  
    background: #f2f2f2;  
    color: #616161;  
    font-size: 12px;  
    padding: 35px 0;

   }  
   .links-inner {  
    max-width: 1100px;  
    margin: 0 auto;  
    padding: 0 20px;  
    display: grid;  
    grid-template-columns: repeat(6, 1fr);  
    grid-gap: 10px;  
    align-items: flex-start;  
    justify-content: center;  
   }  
   .links li {  
    line-height: 2.8;  
   }  
   .links h3{
    font-size: 15px;
   }

   .links a{
    font-size: 12px;
    text-decoration: none;
    color: #616161
    
    }
    .links ul{
        list-style: none; 
    }

   .footer {  
    background: #f2f2f2;  
    color: #616161;  
    font-size: 12px;  
    padding: 20px 0;  
   }  
   .footer-inner {  
    max-width: 1100px;  
    margin: 0 auto;  
    padding: 0 20px 0 20px;  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
   }  
   .footer div {  
    margin-bottom: 20px;  
    display: flex;  
    align-items: center;  
   }  
   .footer div i {  
    margin-right: 10px;  
   }  
   .footer ul {  
    display: flex;  
    flex-wrap: wrap; 
    list-style: none; 
   }  
   .footer li {  
    margin-right: 30px;  
    margin-bottom: 20px;  
   }
   .footer a{
    color: #616161;
    text-decoration: none;
    list-style: none; 
   }

  
